
.output {
    background-color: #AE6BF8;
    padding: 6px;
    border-radius: 5px;
}

.output > div {
    background-color: #ffffff;
}

div > span {
    padding: 10px 30px 10px 10px;
}
div > input {
    padding: 10px 30px 10px 10px;
    /* margin-top: 2px; */
}

button {
    padding: 10px 20px 10px 20px;
}

table {
    background-color: #ffffff;
    padding: 10px;
    width: 100%;
}
 tr {
    border-bottom: 1px solid rgb(218, 218, 218);
    border-collapse: collapse;
    padding-bottom: 4px;
}
/* .item {
    width: 300px;
} */
