<div class="output" *ngIf="taskList.myTask.length > 0">
    <!-- <p>{{taskList.myTask.length}}</p> -->
    <table *ngFor="let aTask of taskList.myTask" fxLayout.lt-md="column" fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="space-between center">
        <tr *ngIf="aTask.editable == false">
            <td class="item">{{aTask.description}}</td>
            <td>
                <button type="button" class="btn btn-primary" (click)="editTask(aTask)">Edit</button>
            </td>
            <td>
                <button type="button" class="btn btn-primary" (click)="removeTask(aTask)">Remove</button>
            </td>



        </tr>
        <tr *ngIf="aTask.editable == true">
            <td>
                <input class="edit-input" type="text" [(ngModel)]="aTask.description" (keyup.enter)="onKeyUp()"
                    placeholder="What will you do today ?">
            </td>
            <td>
                <button type="button" class="btn btn-primary" (click)="doneEditTask(aTask)">Done</button>

            </td>
            <td>
                <button type="button" class="btn btn-primary" (click)="removeTask(aTask)">Remove</button>
            </td>

        </tr>
        <div>
            <hr />
        </div>
    </table>

</div>