<div class="output" *ngIf="taskList.myTask.length > 0">
    <!-- <p>{{taskList.myTask.length}}</p> -->
    <table>
        <tr *ngFor="let aTask of taskList.myTask">

            <td class="item" *ngIf="aTask.editable == false">{{aTask.description}}</td>
            <td *ngIf="aTask.editable == false">
                <button type="button" class="btn btn-primary" (click)="editTask(aTask)">Edit</button>
            </td>
            <td *ngIf="aTask.editable == false">
                <button type="button" class="btn btn-primary" (click)="removeTask(aTask)">Remove</button>
            </td>



            <td *ngIf="aTask.editable == true">
                <input class="edit-input" type="text" [(ngModel)]="aTask.description" (keyup.enter)="onKeyUp()"
                    placeholder="What will you do today ?">
            </td>
            <td *ngIf="aTask.editable == true">
                <button type="button" class="btn btn-primary" (click)="doneEditTask(aTask)">Done</button>

            </td>
            <td *ngIf="aTask.editable == true">
                <button type="button" class="btn btn-primary" (click)="removeTask(aTask)">Remove</button>
            </td>
        </tr>
    </table>

</div>